In [1]:
import os
import requests
import bs4
import re
import time
import csv
from datetime import datetime as dt
from urllib.request import urlopen
from fuzzywuzzy import fuzz

import numpy as np
import pandas as pd

In [2]:
filepath = os.path.join('.', 'data', '2_wiki-interim', 'restaurants.csv')
rest_df = pd.read_csv(filepath)

# Get TripAdvisor URLs for Restaurants

In [3]:
ta_headers = {
    'authority': 'www.tripadvisor.com',
    'accept': 'text/html, */*',
    'x-requested-with': 'XMLHttpRequest',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'content-type': 'Application/json; charset=utf-8',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'referer': 'https://www.tripadvisor.com',
    'accept-language': 'en-US,en;q=0.9'
}

In [4]:
# list of ids that limit search results to desired city
ta_geo_ids = {
    'california': '28926',
    'chicago': '28934',
    'washington dc': '28970',
    'new york': '60763'
}

In [5]:
def get_ta_url(rest_name, location, ta_geo_ids, headers):
    score_list = []
    best_name = 'n/a'
    best_score = -1
    try:
        geo_id = ta_geo_ids[location]
        search_url = ('https://www.tripadvisor.com/Search?redirect'
                              +'&uiOrigin=MASTHEAD'
                              +'&singleSearchBox=true'
                              +'&supportedSearchTypes=find_near_stand_alone_query'
                              +'&geo=' + geo_id
                              +'&q=' + rest_name + '+michelin'
                              +'&blockRedirect=true'
                              +'&ssrc=e'
                              +'&rf=10')
        resp = requests.get(search_url, headers=headers, timeout=5)
        page = bs4.BeautifulSoup(resp.text)
        time.sleep(0.1)
        
        results = page.find_all('div', class_ = 'result-title')
        for result in results:
            result_title_clean = result.find('span').get_text().lower().replace('restaurant', '').strip()
            rest_name_clean = rest_name.lower().replace('restaurant', '').strip()
            score_list.append(fuzz.ratio(result_title_clean, rest_name_clean))
        best_match_index = np.argmax(score_list)
        best_score = max(score_list)
        best_result = results[best_match_index]
        best_name = best_result.find('span').get_text()
        rest_url_suffix = best_result['onclick'].split(', ')[3].strip("'")
        rest_url = 'https://www.tripadvisor.com' + rest_url_suffix
    except:
        rest_url = 'n/a'
    
    return rest_url + '__' + str(best_score) + '__' + best_name

In [6]:
rest_df['location'] = np.where(rest_df['city_name'] == 'san francisco', 'california', rest_df['city_name'])

rest_df['query'] = rest_df['rest_name'] + '__' + rest_df['location']

In [7]:
rest_df['ta_url__score'] = rest_df['query'].map(lambda x: get_ta_url(rest_name=x.split('__')[0],
                                                                     location=x.split('__')[1],
                                                                     ta_geo_ids=ta_geo_ids,
                                                                     headers=ta_headers))

In [8]:
rest_df['ta_url'] = rest_df['ta_url__score'].map(lambda x: x.split('__')[0])
rest_df['match_score'] = rest_df['ta_url__score'].map(lambda x: int(x.split('__')[1]))
rest_df['ta_name'] = rest_df['ta_url__score'].map(lambda x: x.split('__')[2])

# Correct mistakes in TripAdvisor URLs
Manually checking for incorrect urls for restaurants that have a fuzzy match score of <100

In [9]:
mistakes = []
no_ta_pg = []

In [10]:
rest_df.loc[(rest_df['match_score']>=90) & (rest_df['match_score']<100),['location', 'rest_name', 'ta_name', 'match_score']]

,location,rest_name,ta_name,match_score
82,new york,Café Boulud,Cafe Boulud,91
83,new york,Café China,Cafe China,90
90,new york,Chef's Table at Brooklyn Fare,Chefs Table at Brooklyn Fare,98
121,new york,Gunter Seeger,Gunter Seeger NY,90
141,new york,L'Atelier de Joël Robuchon,L'Atelier de Joel Robuchon,96
155,new york,M. Wells Steakhouse,M Wells Steakhouse,97
179,new york,Rhong-Tiam,Rhong Tiam,90
200,new york,Tamarind Tribeca,Tamarind - Tribeca,94
211,new york,The River Café,The River Cafe,93
214,new york,Torrisi Italian Specialities,Torrisi Italian Specialties,98
218,new york,Uncle Boons,Uncle Boon's,96
229,california,Alexander’s Steakhouse,Alexander's Steakhouse,95
261,california,Farmhouse Inn & Restaurant,Farmhouse Inn Restaurant,93
270,california,K&L Bistro,K & L Bistro,91
271,california,Keiko à Nob Hill,Keiko a Nob Hill,94

In [11]:
rest_df.loc[(rest_df['match_score']>=80) & (rest_df['match_score']<90),['location', 'rest_name', 'ta_name', 'match_score']]

,location,rest_name,ta_name,match_score
3,chicago,Avenues,Avenue M,80
49,chicago,Yūgen,Yugen,80
55,new york,Adour,L'Adour,83
81,new york,Bâtard,Batard,83
105,new york,Delaware & Hudson,Delaware and Hudson,89
119,new york,Gotham Bar and Grill,Gotham Bar & Grill,89
172,new york,Perry Street,One Perry Street Restaurant,86
222,new york,Wallsé,Wallse,83
241,california,Baumé,Baume,80
249,california,Campton Place,Taj Campton Place Restaurant,87
269,california,Jū-Ni,Ju-Ni,80
300,california,Plumed Horse,The Plumed Horse,86
301,california,Protegé,Protege,86
311,california,SingleThread,SingleThread Farm Restaurant,83
320,california,Terrapin Creek,Terrapin Creek Cafe,85
341,washington dc,Métier,Metier,83
342,washington dc,Pineapple & Pearls,Pineapple And Pearls,89

In [12]:
mistakes.extend([('Perry Street', 'https://www.tripadvisor.com/Restaurant_Review-g60763-d590536-Reviews-Perry_St-New_York_City_New_York.html')])

no_ta_pg.extend(['Avenues', 'Adour'])

In [13]:
rest_df.loc[(rest_df['match_score']>=70) & (rest_df['match_score']<80),['location', 'rest_name', 'ta_name', 'match_score']]

,location,rest_name,ta_name,match_score
21,chicago,Kikko,Kumiko,73
31,chicago,Omakase Yume,Omakase,74
45,chicago,The Lobby,Lobby,71
54,new york,A Voce Madison,Marche Madison,79
103,new york,Danube,Blue Danube Restaurant,71
115,new york,Fleur de Sel,Flor de Sol,78
118,new york,Gordon Ramsay at The London,Gordon Ramsay Steak,70
148,new york,Le Grill de Joël Robuchon,L'Atelier de Joel Robuchon,75
151,new york,Lever House,Porter House,70
152,new york,Lincoln,Lincoln Cafe,74
307,california,Rubicon,Rubicon Deli,74
321,california,The Dining Room at the Ritz-Carlton,The Terrace at The Ritz-Carlton,76

In [14]:
mistakes.extend([('Lincoln', 'https://www.tripadvisor.com/Restaurant_Review-g60763-d2707130-Reviews-Lincoln_Ristorante-New_York_City_New_York.html')])

no_ta_pg.extend(['Omakase Yume', 'A Voce Madison', 'Danube', 'Fleur de Sel', 'Gordon Ramsay at The London',
                          'Le Grill de Joël Robuchon', 'Lever House', 'Rubicon', 'The Dining Room at the Ritz-Carlton'])

In [15]:
rest_df.loc[(rest_df['match_score']>=60) & (rest_df['match_score']<70),['location', 'rest_name', 'ta_name', 'match_score']]

       location                rest_name              ta_name  match_score
84     new york                Café Gray          Dorian Gray           60
109    new york               Eighty-One           Benito One           60
122    new york                 Hakkasan    Hakkasan New York           64
125    new york  Ichimura at Brushstroke          Brushstroke           65
126    new york         Ichimura at Uchū             Ichimura           67
153    new york                Lo Scalco          Los Abuelos           60
157    new york                    March                Marea           60
176    new york               Pok Pok NY            Toriko NY           63
203    new york           Tetsu Basement  The Basement Lounge           67
262  california              Fifth Floor          Fifth Wheel           64
286  california            Martini House         Acacia House           64
304  california                     Rasa            Sari Rasa           62

In [16]:
mistakes.extend([('Pok Pok NY', 'https://www.tripadvisor.com/Restaurant_Review-g60827-d3396685-Reviews-Pok_Pok_NY-Brooklyn_New_York.html'),
                 ('Rasa', 'https://www.tripadvisor.com/Restaurant_Review-g32124-d7277633-Reviews-Rasa_Contemporary_Indian-Burlingame_California.html')])

no_ta_pg.extend(['Café Gray', 'Eighty-One', 'Ichimura at Uchū', 'Lo Scalco', 'March',
                 'Tetsu Basement', 'Martini House', ])

In [17]:
rest_df.loc[(rest_df['match_score']>=50) & (rest_df['match_score']<60),['location', 'rest_name', 'ta_name', 'match_score']]

,location,rest_name,ta_name,match_score
29,chicago,NoMI,NoMI Kitchen,50
58,new york,Alain Ducasse at the Essex House,Essex House,51
72,new york,Bar Uchū,Bar Boulud,56
154,new york,Luksus at Torst,Luksus,57
169,new york,Oxalis,oxalis restaurant Brooklyn,55
238,california,Aubergine,Tamarine Restaurant,59
303,california,Range,Manresa,50
350,washington dc,minibar,Barmini,57

In [18]:
mistakes.extend([('Bar Uchū','https://www.tripadvisor.com/Restaurant_Review-g60763-d12434865-Reviews-Uchu-New_York_City_New_York.html'),
                 ('Aubergine', 'https://www.tripadvisor.com/Restaurant_Review-g32172-d1367785-Reviews-Aubergine_at_L_Auberge_Carmel-Carmel_Monterey_County_California.html'),
                 ('minibar', 'https://www.tripadvisor.com/Restaurant_Review-g28970-d3861014-Reviews-Minibar_Washington_D_C-Washington_DC_District_of_Columbia.html')])

no_ta_pg.extend(['Alain Ducasse at the Essex House', 'Range'])

In [19]:
rest_df.loc[rest_df['match_score']<50,['location', 'rest_name', 'ta_name', 'match_score']]

          location      rest_name                       ta_name  match_score
7          chicago      Bonsoirée       Table, Donkey and Stick           31
41         chicago          Smyth          Smyth + The Loyalist           40
71        new york          Babbo             Bocuse Restaurant           36
95        new york           Cote                         Atera           44
96        new york        Country        Hadlyme Country Market           48
112       new york     Etats-Unis                       Bar Uni           47
117       new york           Gilt                      Kingsley           33
138       new york    Kurumazushi                      Sasabune           21
150       new york  Le Restaurant                       Rebelle           44
184       new york           Saul   Saul at the Brooklyn Museum           26
187       new york       Seäsonal       Dig Inn Seasonal Market           45
221       new york           Vong                  Jean Georges           25
312     california         Solbar     Solbar - Solage Calistoga           39
327     california        Trevese       Mature Cabaret Michelin           33
343  washington dc          Plume  Plume at The Jefferson Hotel           30

In [20]:
mistakes.extend([('Babbo','https://www.tripadvisor.com/Restaurant_Review-g60763-d423266-Reviews-Babbo_Ristorante_e_Enoteca-New_York_City_New_York.html'),
                 ('Cote', 'https://www.tripadvisor.com/Restaurant_Review-g60763-d12672159-Reviews-Cote_Korean_Steakhouse-New_York_City_New_York.html'),
                 ('Seäsonal', 'https://www.tripadvisor.com/Restaurant_Review-g60763-d1390757-Reviews-Seasonal_Restaurant_and_Weinbar-New_York_City_New_York.html'),
                 ('Kurumazushi', 'https://www.tripadvisor.com/Restaurant_Review-g60763-d424528-Reviews-Kuruma_Zushi-New_York_City_New_York.html')])

no_ta_pg.extend(['Bonsoirée', 'Country', 'Etats-Unis', 'Gilt', 'Le Restaurant', 'Trevese', 'Vong'])

In [21]:
# add in mistakes with match_score of 100 that were found after initial scraping
mistakes.extend([('The Lobby','https://www.tripadvisor.com/Restaurant_Review-g35805-d451268-Reviews-The_Lobby_at_the_Peninsula_Hotel-Chicago_Illinois.html'),
                 ('Applewood', 'https://www.tripadvisor.com/Restaurant_Review-g32465-d491915-Reviews-Applewood_Inn_Restaurant-Guerneville_Sonoma_County_California.html'),                
                ])

In [22]:
# fix urls for mistakes, and replace urls with nan for restaurants that don't have a TripAdvisor page
def fix_mistakes(df):
    for row in range(0, len(df)):
        for rest_name, ta_url in mistakes:
            if df.loc[row, 'rest_name']==rest_name:
                df.loc[row, 'ta_url'] = ta_url
    return df

def remove_rests_with_no_ta_pg(df):
    for row in range(0, len(df)):
        for rest_name in no_ta_pg:
            if df.loc[row, 'rest_name']==rest_name:
                df.loc[row, 'ta_url'] = np.nan
    return df

In [23]:
# create original and clean clean list of restaurants with urls
rest_df.drop(['query', 'ta_url__score'], axis=1, inplace=True)
rest_df_clean = fix_mistakes(rest_df.copy())
rest_df_clean = remove_rests_with_no_ta_pg(rest_df_clean)

# Save urls to disk

In [24]:
# create folder to export data
export_folder = os.path.join('.', 'data', '3_tripadvisor')
if not os.path.isdir(export_folder):
    os.mkdir(export_folder)

In [25]:
rest_df.to_csv(os.path.join(export_folder, 'restaurant-urls_raw.csv'), index=False)
rest_df_clean.to_csv(os.path.join(export_folder, 'restaurant-urls_cleaned.csv'), index=False)

# Scrape Review Data

In [26]:
ta_review_headers = {
    'authority': 'www.tripadvisor.com',
    'accept': 'text/html, */*',
    'x-requested-with': 'XMLHttpRequest',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'sec-fetch-site': 'none',
    'sec-fetch-mode': 'navigate',
    'accept-language': 'en-US,en;q=0.9'
}

data = {
    'filterLang': 'ALL',
    'filterSafety': 'FALSE',
    'waitTime': 11,
    'changeSet': 'REVIEW_LIST',
}

In [27]:
def get_page(session, url, data, headers):
    for x in range(0, 5):  # try 5 times
        try:
            resp = session.post(url, data=data, headers=headers, timeout=10)
            page = bs4.BeautifulSoup(resp.text)
            time.sleep(.5)
            str_error = False
            return(page)
        except Exception:
            str_error = True
            print('attempt'+str(x+1)+' '+restName)
            pass
        if str_error:
            time.sleep(5)  # wait for 5 seconds before trying to fetch the data again
        else:
            break

In [28]:
ajax_url = 'https://www.tripadvisor.com/OverlayWidgetAjax'
session = requests.Session()
regex = re.compile(r'(.)*d(.)*Reviews-')

start = time.time()
print('Start: ' + time.ctime())

filename = os.path.join(export_folder,'reviews.csv')

# create file and write headers
with open(filename, 'w') as export_csv:
    wr = csv.writer(export_csv, quoting=csv.QUOTE_ALL)
    wr.writerow(['city_name', 'rest_name', 'screenname', 'member_id', 'review_language',
             'user_loc', 'rating', 'review_date', 'review_quote', 'review_text'])

# scrape reviews for each restaurant
    for row in range(0, len(rest_df_clean)):
        city_name = rest_df_clean.loc[row, 'city_name']
        rest_name = rest_df_clean.loc[row, 'rest_name']
        url = rest_df_clean.loc[row, 'ta_url']
        
        if not pd.isna(url):
            mo = regex.search(url)
            url_begin = mo.group()
            url_end = url.split(url_begin)[-1]

            page = get_page(session, url, data=data, headers=ta_review_headers)

            #Get last page of reviews from page
            last_page_link = page.find('a', class_='pageNum last ')
            if last_page_link:
                last_page_num = int(last_page_link.text)
            else:
                last_page_num = 0

            # create list to store review ids
            review_id_list = []

            if last_page_num == 0:
                page = get_page(session, url, data=data, headers=ta_review_headers)

                reviews = page.find_all('div', class_='review-container')
                for review in reviews:
                    review_id_list.append(review.find('div', class_='reviewSelector')['data-reviewid'])
            else:
                # for each page, store review ids
                for page_num in range(0,(last_page_num)*10,10):
                    if page_num > 0:
                        page_num_code = "or" + str(page_num) + "-"
                        url = url_begin + page_num_code + url_end

                    page = get_page(session, url, data=data, headers=ta_review_headers)

                    reviews = page.find_all('div', class_='review-container')
                    for review in reviews:
                        review_id_list.append(review.find('div', class_='reviewSelector')['data-reviewid'])

            review_id_str = ','.join(review_id_list)

            # create data and headers for ajax request
            expand_rev_data = {
                'Mode': 'EXPANDED_HOTEL_REVIEWS_RESP',
                'reviews': review_id_str,
                'contextChoice': 'DETAIL',
                'loadMtHeader': 'true',
            }

            expand_rev_headers = {
                'authority': 'www.tripadvisor.com',
                'accept': 'text/html, */*; q=0.01',
                'x-requested-with': 'XMLHttpRequest',
                'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
                'content-type': 'application/x-www-form-urlencoded; charset=UTF-8',
                'sec-fetch-site': 'same-origin',
                'sec-fetch-mode': 'cors',
                'referer': url,
                'accept-language': 'en-US,en;q=0.9',
            }

            reviews = get_page(session, ajax_url, data=expand_rev_data, headers=expand_rev_headers)

            for review in reviews.find_all('div', class_ = "reviewSelector"):
                try:
                    user_profile = review.find('span', class_='taLnk ')
                    screenname = user_profile['data-screenname']
                    member_id = user_profile['data-memberid']
                    review_language = user_profile['data-language']
                except:
                    try:
                        screenname = next(review.find('div', class_='info_text pointer_cursor').children).text
                        member_id = review.find('div', class_='memberOverlayLink clickable')['id'].replace('-', '_').split('_')[1]
                        review_language = '(null)'
                    except:
                        screenname = '(null)'
                        member_id = '(null)'
                        review_language = '(null)'

                # get location
                if review.find('div', class_='userLoc') is None:
                    user_loc = '(null)'
                else:
                    user_loc = review.find('div', class_='userLoc').text

                # get rating
                if review.find('span', class_='ui_bubble_rating bubble_50') is not None:
                    rating = 5
                elif review.find('span', class_='ui_bubble_rating bubble_40') is not None:
                    rating = 4
                elif review.find('span', class_='ui_bubble_rating bubble_30') is not None:
                    rating = 3
                elif review.find('span', class_='ui_bubble_rating bubble_20') is not None:
                    rating = 2
                elif review.find('span', class_='ui_bubble_rating bubble_10') is not None:
                    rating = 1
                else:
                    rating = 0

                # get review date
                review_date = review.find('span', class_='ratingDate')['title']

                # get review quote
                review_quote = review.find('div', class_='quote').find('span', class_='noQuotes').text

                # get review text
                review_text = review.find('p', class_='partial_entry').text

                # gather review data
                review_data = [city_name, rest_name, screenname, member_id, review_language,
                               user_loc, rating, review_date, review_quote, review_text]

                # write row to file
                wr.writerow(review_data)

            # message
            print('Scraped ' + str(len(review_id_list)) + ' reviews for ' + rest_name + '. ' 
                  + str(round((time.time()-start)/60, 1)) + ' min elapsed.')

Start: Thu Feb  6 21:48:35 2020
Scraped 28 reviews for 42 Grams. 0.1 min elapsed.
Scraped 173 reviews for Acadia. 0.4 min elapsed.
Scraped 1530 reviews for Alinea. 2.9 min elapsed.
Scraped 154 reviews for Band of Bohemia. 3.1 min elapsed.
Scraped 672 reviews for Blackbird. 4.3 min elapsed.
Scraped 663 reviews for Boka. 5.4 min elapsed.
Scraped 163 reviews for Charlie Trotter's. 5.7 min elapsed.
Scraped 26 reviews for Courtright's. 5.8 min elapsed.
Scraped 32 reviews for Crofton on Wells. 5.9 min elapsed.
Scraped 170 reviews for Dusek's Board & Beer. 6.2 min elapsed.
Scraped 92 reviews for EL Ideas. 6.4 min elapsed.
Scraped 36 reviews for Elizabeth. 6.5 min elapsed.
Scraped 85 reviews for Elske. 6.7 min elapsed.
Scraped 53 reviews for Entente. 6.8 min elapsed.
Scraped 398 reviews for Everest. 7.4 min elapsed.
Scraped 114 reviews for Goosefoot. 7.6 min elapsed.
Scraped 13 reviews for Grace. 7.6 min elapsed.
Scraped 132 reviews for Graham Elliot. 7.8 min elapsed.
Scraped 92 reviews for GreenRiver. 8.0 min elapsed.
Scraped 5 reviews for Kikko. 8.0 min elapsed.
Scraped 140 reviews for L2O. 8.3 min elapsed.
Scraped 375 reviews for Longman & Eagle. 8.9 min elapsed.
Scraped 4 reviews for Mako. 8.9 min elapsed.
Scraped 509 reviews for Mexique. 9.7 min elapsed.
Scraped 204 reviews for Moto. 10.1 min elapsed.
Scraped 347 reviews for NAHA. 10.7 min elapsed.
Scraped 236 reviews for Next. 11.0 min elapsed.
Scraped 662 reviews for NoMI. 12.1 min elapsed.
Scraped 348 reviews for North Pond. 12.6 min elapsed.
Scraped 142 reviews for Oriole. 12.9 min elapsed.
Scraped 119 reviews for Parachute. 13.1 min elapsed.
Scraped 45 reviews for RIA. 13.2 min elapsed.
Scraped 264 reviews for Roister. 13.6 min elapsed.
Scraped 79 reviews for Schwa. 13.8 min elapsed.
Scraped 64 reviews for Seasons. 13.9 min elapsed.
Scraped 30 reviews for Senza. 14.0 min elapsed.
Scraped 430 reviews for Sepia. 14.7 min elapsed.
Scraped 532 reviews for Sixteen. 15.5 min elapsed.
Scraped 134 reviews for Smyth. 15.8 min elapsed.
Scraped 806 reviews for Spiaggia. 17.0 min elapsed.
Scraped 94 reviews for Takashi. 17.2 min elapsed.
Scraped 15 reviews for Temporis. 17.3 min elapsed.
Scraped 371 reviews for The Lobby. 17.9 min elapsed.
Scraped 437 reviews for Topolobampo. 18.7 min elapsed.
Scraped 399 reviews for Tru. 19.4 min elapsed.
Scraped 146 reviews for Vie. 19.7 min elapsed.
Scraped 6 reviews for Yūgen. 19.8 min elapsed.
Scraped 518 reviews for  Le Coucou. 20.6 min elapsed.
Scraped 8 reviews for  Sushi Noz. 20.6 min elapsed.
Scraped 178 reviews for 15 East. 20.9 min elapsed.
Scraped 385 reviews for A Voce Columbus. 21.6 min elapsed.
Scraped 208 reviews for Agern. 21.9 min elapsed.
Scraped 1017 reviews for Ai Fiori. 23.5 min elapsed.
Scraped 332 reviews for Aldea. 24.0 min elapsed.
Scraped 19 reviews for Allen & Delancey. 24.1 min elapsed.
Scraped 1 reviews for Alto. 24.2 min elapsed.
Scraped 176 reviews for Andanada. 24.5 min elapsed.
Scraped 230 reviews for Annisa. 24.9 min elapsed.
Scraped 30 reviews for Anthos. 25.0 min elapsed.
Scraped 543 reviews for Aquavit. 25.8 min elapsed.
Scraped 34 reviews for Aska. 25.9 min elapsed.
Scraped 194 reviews for Atera. 26.3 min elapsed.
Scraped 13 reviews for Atomix. 26.3 min elapsed.
Scraped 1154 reviews for Aureole. 28.0 min elapsed.
Scraped 91 reviews for BLT Fish. 28.2 min elapsed.
Scraped 1935 reviews for Babbo. 31.1 min elapsed.
Scraped 7 reviews for Bar Uchū. 31.2 min elapsed.
Scraped 13 reviews for Benno. 31.2 min elapsed.
Scraped 345 reviews for Betony. 31.8 min elapsed.
Scraped 66 reviews for Blanca. 32.0 min elapsed.
Scraped 696 reviews for Blue Hill. 33.2 min elapsed.
Scraped 431 reviews for Blue Hill at Stone Barns. 33.9 min elapsed.
Scraped 1686 reviews for Bouley. 36.6 min elapsed.
Scraped 85 reviews for Bouley at Home. 36.8 min elapsed.
Scraped 207 reviews for Brushstroke. 37.2 min elapsed.
Scraped 328 reviews for Bâtard. 37.8 min elapsed.
Scraped 1192 reviews for Café Boulud. 39.9 min elapsed.
Scraped 557 reviews for Café China. 40.8 min elapsed.
Scraped 30 reviews for Cagen. 40.9 min elapsed.
Scraped 444 reviews for Carbone. 41.7 min elapsed.
Scraped 258 reviews for Casa Enrique. 42.2 min elapsed.
Scraped 517 reviews for Casa Mono. 43.1 min elapsed.
Scraped 125 reviews for Caviar Russe. 43.3 min elapsed.
Scraped 74 reviews for Chef's Table at Brooklyn Fare. 43.5 min elapsed.
Scraped 20 reviews for Claro. 43.6 min elapsed.
Scraped 138 reviews for Contra. 43.8 min elapsed.
Scraped 46 reviews for Convivio. 43.9 min elapsed.
Scraped 59 reviews for Corton. 44.1 min elapsed.
Scraped 166 reviews for Cote. 44.4 min elapsed.
Scraped 971 reviews for Craft. 45.9 min elapsed.
Scraped 27 reviews for Crown Shy. 46.0 min elapsed.
Scraped 3 reviews for Cru. 46.1 min elapsed.
Scraped 3262 reviews for Daniel. 51.5 min elapsed.
Scraped 498 reviews for Danji. 52.3 min elapsed.
Scraped 98 reviews for Danny Brown Wine Bar & Kitchen. 52.6 min elapsed.
Scraped 1652 reviews for Del Posto. 55.3 min elapsed.
Scraped 77 reviews for Delaware & Hudson. 55.4 min elapsed.
Scraped 106 reviews for Devi. 55.6 min elapsed.
Scraped 484 reviews for Dovetail. 56.5 min elapsed.
Scraped 90 reviews for Dressler. 56.7 min elapsed.
Scraped 2578 reviews for Eleven Madison Park. 61.0 min elapsed.
Scraped 380 reviews for Estela. 61.7 min elapsed.
Scraped 72 reviews for Faro. 61.9 min elapsed.
Scraped 25 reviews for Fiamma Osteria. 61.9 min elapsed.
Scraped 696 reviews for Gabriel Kreuther. 63.1 min elapsed.
Scraped 1741 reviews for Gotham Bar and Grill. 65.9 min elapsed.
Scraped 3675 reviews for Gramercy Tavern. 71.9 min elapsed.
Scraped 57 reviews for Gunter Seeger. 72.0 min elapsed.
Scraped 1067 reviews for Hakkasan. 73.9 min elapsed.
Scraped 54 reviews for Heartbreak. 74.0 min elapsed.
Scraped 35 reviews for Hirohisa. 74.1 min elapsed.
Scraped 207 reviews for Ichimura at Brushstroke. 74.5 min elapsed.
Scraped 826 reviews for Insieme. 75.9 min elapsed.
Scraped 9 reviews for Jean-Georges. 75.9 min elapsed.
Scraped 44 reviews for Jeju Noodle Bar. 76.0 min elapsed.
Scraped 86 reviews for Jewel Bako. 76.2 min elapsed.
Scraped 108 reviews for JoJo. 76.4 min elapsed.
Scraped 272 reviews for Jungsik. 77.0 min elapsed.
Scraped 408 reviews for Juni. 77.6 min elapsed.
Scraped 718 reviews for Junoon. 78.8 min elapsed.
Scraped 138 reviews for Kajitsu. 79.1 min elapsed.
Scraped 114 reviews for Kanoyama. 79.3 min elapsed.
Scraped 29 reviews for Kosaka. 79.4 min elapsed.
Scraped 75 reviews for Kurumazushi. 79.6 min elapsed.
Scraped 73 reviews for Kyo Ya. 79.8 min elapsed.
Scraped 40 reviews for L'Appart. 79.8 min elapsed.
Scraped 98 reviews for L'Atelier de Joël Robuchon. 80.0 min elapsed.
Scraped 80 reviews for La Goulue. 80.2 min elapsed.
Scraped 230 reviews for La Sirena. 80.6 min elapsed.
Scraped 119 reviews for La Vara. 80.8 min elapsed.
Scraped 92 reviews for Lan Sheng. 81.0 min elapsed.
Scraped 230 reviews for Laut. 81.4 min elapsed.
Scraped 3441 reviews for Le Bernardin. 86.9 min elapsed.
Scraped 22 reviews for Le Jardinier. 87.0 min elapsed.
Scraped 585 reviews for Lincoln. 88.1 min elapsed.
Scraped 25 reviews for Luksus at Torst. 88.1 min elapsed.
Scraped 85 reviews for M. Wells Steakhouse. 88.3 min elapsed.
Scraped 378 reviews for Marc Forgione. 89.0 min elapsed.
Scraped 2279 reviews for Marea. 92.8 min elapsed.
Scraped 283 reviews for Masa. 93.3 min elapsed.
Scraped 142 reviews for Meadowsweet. 93.6 min elapsed.
Scraped 1127 reviews for Minetta Tavern. 95.5 min elapsed.
Scraped 406 reviews for Momofuku Ko. 96.2 min elapsed.
Scraped 226 reviews for Nix. 96.7 min elapsed.
Scraped 1516 reviews for Nobu. 99.1 min elapsed.
Scraped 7 reviews for Noda. 99.1 min elapsed.
Scraped 1155 reviews for Oceana. 101.1 min elapsed.
Scraped 4 reviews for Odo. 101.1 min elapsed.
Scraped 2 reviews for Okuda. 101.2 min elapsed.
Scraped 13 reviews for Oxalis. 101.2 min elapsed.
Scraped 42 reviews for Oxomoco. 101.3 min elapsed.
Scraped 1820 reviews for Per Se. 104.3 min elapsed.
Scraped 366 reviews for Perry Street. 104.9 min elapsed.
Scraped 4950 reviews for Peter Luger Steak House. 113.0 min elapsed.
Scraped 202 reviews for Picholine. 113.4 min elapsed.
Scraped 60 reviews for Piora. 113.5 min elapsed.
Scraped 199 reviews for Pok Pok NY. 113.8 min elapsed.
Scraped 431 reviews for Public. 114.6 min elapsed.
Scraped 85 reviews for Rebelle. 114.8 min elapsed.
Scraped 52 reviews for Rhong-Tiam. 114.9 min elapsed.
Scraped 34 reviews for Rosanjin. 115.0 min elapsed.
Scraped 235 reviews for Rouge Tomate. 115.4 min elapsed.
Scraped 34 reviews for SHO Shaun Hergatt. 115.5 min elapsed.
Scraped 13 reviews for Satsuki. 115.5 min elapsed.
Scraped 103 reviews for Saul. 115.8 min elapsed.
Scraped 427 reviews for Scalini Fedeli. 116.5 min elapsed.
Scraped 16 reviews for Semilla. 116.6 min elapsed.
Scraped 172 reviews for Seäsonal. 117.0 min elapsed.
Scraped 19 reviews for Shalezeh. 117.0 min elapsed.
Scraped 92 reviews for Somtum Der. 117.2 min elapsed.
Scraped 147 reviews for Soto. 117.5 min elapsed.
Scraped 9 reviews for Sushi Amane. 117.5 min elapsed.
Scraped 62 reviews for Sushi Azabu. 117.7 min elapsed.
Scraped 35 reviews for Sushi Ginza Onodera. 117.8 min elapsed.
Scraped 23 reviews for Sushi Inoue. 117.8 min elapsed.
Scraped 278 reviews for Sushi Nakazawa. 118.3 min elapsed.
Scraped 702 reviews for Sushi Yasuda. 119.6 min elapsed.
Scraped 7 reviews for Sushi Zo. 119.6 min elapsed.
Scraped 260 reviews for Sushi of Gari. 120.0 min elapsed.
Scraped 4 reviews for Take Root. 120.1 min elapsed.
Scraped 710 reviews for Tamarind Tribeca. 121.3 min elapsed.
Scraped 346 reviews for Telepan. 121.9 min elapsed.
Scraped 43 reviews for Tempura Matsui. 122.0 min elapsed.
Scraped 756 reviews for The Breslin. 123.3 min elapsed.
Scraped 353 reviews for The Clocktower. 123.9 min elapsed.
Scraped 75 reviews for The Finch. 124.1 min elapsed.
Scraped 39 reviews for The Four Horsemen. 124.2 min elapsed.
Scraped 2065 reviews for The Modern. 127.5 min elapsed.
Scraped 304 reviews for The Musket Room. 128.0 min elapsed.
Scraped 1011 reviews for The NoMad. 129.8 min elapsed.
Scraped 4048 reviews for The River Café. 136.4 min elapsed.
Scraped 2307 reviews for The Spotted Pig. 140.2 min elapsed.
Scraped 72 reviews for Tori Shin. 140.4 min elapsed.
Scraped 79 reviews for Torrisi Italian Specialities. 140.6 min elapsed.
Scraped 233 reviews for Tulsi. 141.0 min elapsed.
Scraped 72 reviews for Tuome. 141.2 min elapsed.
Scraped 8 reviews for Ukiyo. 141.2 min elapsed.
Scraped 275 reviews for Uncle Boons. 141.7 min elapsed.
Scraped 26 reviews for Ushiwakamaru. 141.8 min elapsed.
Scraped 77 reviews for Veritas. 141.9 min elapsed.
Scraped 178 reviews for Wallsé. 142.3 min elapsed.
Scraped 12 reviews for ZZ's Clam Bar. 142.3 min elapsed.
Scraped 41 reviews for Zabb Elee. 142.4 min elapsed.
Scraped 313 reviews for wd~50. 143.0 min elapsed.
Scraped 350 reviews for Acquerello. 143.6 min elapsed.
Scraped 88 reviews for Adega. 143.8 min elapsed.
Scraped 3 reviews for Al's Place. 143.8 min elapsed.
Scraped 340 reviews for Alexander’s Steakhouse. 144.4 min elapsed.
Scraped 87 reviews for All Spice. 144.6 min elapsed.
Scraped 164 reviews for Ame. 144.9 min elapsed.
Scraped 68 reviews for Angler. 145.1 min elapsed.
Scraped 222 reviews for Applewood. 145.5 min elapsed.
Scraped 1 reviews for Aqua. 145.5 min elapsed.
Scraped 80 reviews for Aster. 145.7 min elapsed.
Scraped 249 reviews for Atelier Crenn. 146.2 min elapsed.
Scraped 1322 reviews for Auberge du Soleil. 148.4 min elapsed.
Scraped 225 reviews for Aubergine. 148.8 min elapsed.
Scraped 223 reviews for Aziza. 149.2 min elapsed.
Scraped 20 reviews for Bar Crenn. 149.2 min elapsed.
Scraped 44 reviews for Baumé. 149.3 min elapsed.
Scraped 254 reviews for Benu. 149.8 min elapsed.
Scraped 18 reviews for Birdsong. 149.8 min elapsed.
Scraped 2457 reviews for Bistro Jeanty. 153.5 min elapsed.
Scraped 1054 reviews for Bouchon. 155.3 min elapsed.
Scraped 1845 reviews for Boulevard. 158.2 min elapsed.
Scraped 33 reviews for Bushi-Tei. 158.3 min elapsed.
Scraped 48 reviews for Californios. 158.4 min elapsed.
Scraped 360 reviews for Campton Place. 159.1 min elapsed.
Scraped 1441 reviews for Chez Panisse. 161.4 min elapsed.
Scraped 103 reviews for Chez TJ. 161.6 min elapsed.
Scraped 210 reviews for Coi. 161.9 min elapsed.
Scraped 125 reviews for Commis. 162.2 min elapsed.
Scraped 92 reviews for Commonwealth. 162.3 min elapsed.
Scraped 2 reviews for Cortez. 162.4 min elapsed.
Scraped 281 reviews for Cyrus. 162.8 min elapsed.
Scraped 288 reviews for Dio Deka. 163.3 min elapsed.
Scraped 939 reviews for Dry Creek Kitchen. 164.8 min elapsed.
Scraped 92 reviews for El Paseo. 164.9 min elapsed.
Scraped 350 reviews for Etoile. 165.5 min elapsed.
Scraped 383 reviews for Farmhouse Inn & Restaurant. 166.1 min elapsed.
Scraped 23 reviews for Fifth Floor. 166.2 min elapsed.
Scraped 276 reviews for Fleur de Lys. 166.7 min elapsed.
Scraped 333 reviews for Frances. 167.2 min elapsed.
Scraped 2558 reviews for Gary Danko. 171.0 min elapsed.
Scraped 999 reviews for Harbor House. 172.7 min elapsed.
Scraped 22 reviews for Hashiri. 172.7 min elapsed.
Scraped 216 reviews for In Situ. 173.1 min elapsed.
Scraped 20 reviews for Jū-Ni. 173.2 min elapsed.
Scraped 272 reviews for K&L Bistro. 173.6 min elapsed.
Scraped 82 reviews for Keiko à Nob Hill. 173.8 min elapsed.
Scraped 33 reviews for Kenzo. 173.8 min elapsed.
Scraped 478 reviews for Kin Khao. 174.6 min elapsed.
Scraped 6 reviews for Kinjo. 174.7 min elapsed.
Scraped 98 reviews for Kusakabe. 174.8 min elapsed.
Scraped 309 reviews for La Costanera. 175.4 min elapsed.
Scraped 389 reviews for La Folie. 176.0 min elapsed.
Scraped 514 reviews for La Toque. 176.8 min elapsed.
Scraped 96 reviews for Lazy Bear. 177.0 min elapsed.
Scraped 84 reviews for Lord Stanley. 177.2 min elapsed.
Scraped 350 reviews for Luce. 177.7 min elapsed.
Scraped 36 reviews for Madcap. 177.8 min elapsed.
Scraped 232 reviews for Madera. 178.2 min elapsed.
Scraped 250 reviews for Madrona Manor. 178.6 min elapsed.
Scraped 259 reviews for Manresa. 179.0 min elapsed.
Scraped 24 reviews for Maruya. 179.1 min elapsed.
Scraped 75 reviews for Masa's. 179.3 min elapsed.
Scraped 1 reviews for Maum. 179.3 min elapsed.
Scraped 630 reviews for Michael Mina. 180.3 min elapsed.
Scraped 0 reviews for Mirepoix. 180.4 min elapsed.
Scraped 129 reviews for Mister Jiu’s. 180.6 min elapsed.
Scraped 2 reviews for Mosu. 180.6 min elapsed.
Scraped 423 reviews for Mourad. 181.4 min elapsed.
Scraped 403 reviews for Murray Circle. 182.0 min elapsed.
Scraped 69 reviews for Nico. 182.1 min elapsed.
Scraped 201 reviews for Octavia. 182.5 min elapsed.
Scraped 33 reviews for Omakase. 182.6 min elapsed.
Scraped 566 reviews for One Market. 183.5 min elapsed.
Scraped 192 reviews for Plumed Horse. 183.8 min elapsed.
Scraped 34 reviews for Protegé. 183.9 min elapsed.
Scraped 544 reviews for Quince. 184.7 min elapsed.
Scraped 139 reviews for Rasa. 185.0 min elapsed.
Scraped 1573 reviews for Redd. 187.3 min elapsed.
Scraped 301 reviews for Rich Table. 187.8 min elapsed.
Scraped 400 reviews for SPQR. 188.5 min elapsed.
Scraped 216 reviews for Saison. 188.8 min elapsed.
Scraped 338 reviews for Sante. 189.4 min elapsed.
Scraped 114 reviews for SingleThread. 189.6 min elapsed.
Scraped 1234 reviews for Solbar. 191.5 min elapsed.
Scraped 181 reviews for Sons & Daughters. 191.8 min elapsed.
Scraped 26 reviews for Sorrel. 191.9 min elapsed.
Scraped 436 reviews for Spruce. 192.7 min elapsed.
Scraped 548 reviews for State Bird Provisions. 193.5 min elapsed.
Scraped 577 reviews for Sushi Ran. 194.5 min elapsed.
Scraped 10 reviews for Sushi Yoshizumi. 194.5 min elapsed.
Scraped 40 reviews for Terra. 194.6 min elapsed.
Scraped 468 reviews for Terrapin Creek. 195.3 min elapsed.
Scraped 1653 reviews for The French Laundry. 197.9 min elapsed.
Scraped 251 reviews for The Kitchen. 198.3 min elapsed.
Scraped 218 reviews for The Progress. 198.6 min elapsed.
Scraped 514 reviews for The Restaurant at Meadowood. 199.5 min elapsed.
Scraped 245 reviews for The Village Pub. 199.9 min elapsed.
Scraped 105 reviews for Ubuntu. 200.1 min elapsed.
Scraped 12 reviews for Wako. 200.1 min elapsed.
Scraped 26 reviews for Wakuriya. 200.2 min elapsed.
Scraped 2171 reviews for Blue Duck Tavern. 203.6 min elapsed.
Scraped 74 reviews for Bresca. 203.7 min elapsed.
Scraped 910 reviews for Fiola. 205.1 min elapsed.
Scraped 24 reviews for Gravitas. 205.2 min elapsed.
Scraped 844 reviews for Inn at Little Washington. 206.5 min elapsed.
Scraped 200 reviews for Kinship. 206.8 min elapsed.
Scraped 335 reviews for Komi. 207.3 min elapsed.
Scraped 30 reviews for Little Pearl. 207.4 min elapsed.
Scraped 160 reviews for Masseria. 207.7 min elapsed.
Scraped 128 reviews for Maydan. 207.9 min elapsed.
Scraped 32 reviews for Métier. 208.0 min elapsed.
Scraped 134 reviews for Pineapple & Pearls. 208.3 min elapsed.
Scraped 300 reviews for Plume. 208.7 min elapsed.
Scraped 493 reviews for Rose's Luxury. 209.5 min elapsed.
Scraped 80 reviews for Siren. 209.7 min elapsed.
Scraped 12 reviews for Sushi Nakazawa. 209.8 min elapsed.
Scraped 349 reviews for Sushi Taro. 210.4 min elapsed.
Scraped 237 reviews for Tail Up Goat. 210.8 min elapsed.
Scraped 275 reviews for The Dabney. 211.3 min elapsed.
Scraped 172 reviews for minibar. 211.5 min elapsed.